.DS_Store
*.iws
*.ipr
*.iml
*.log
/.classpath
/.gradle
/.idea
/.project
/.settings
/build
/grails-quartz-monitor-*.zip
/grails-quartz-monitor-*.zip.sha1
/plugin.xml
/target
/target-eclipse
/web-app
/classes/artifacts/integration-test-app
