.DS_Store
*.iws
*.ipr
*.iml
*.log
/.classpath
/.gradle
/.idea
/.project
/.settings
build
classes
/plugin.xml
/target
/target-eclipse
/web-app
/classes/artifacts/integration-test-app
/out
